h1{
    text-decoration: double;
    color: black;
    text-align: center;
}
div{
    color: black;
text-decoration: solid;
}
html{
    background-color: blanchedalmond;
    background-color: beige;
}
attraction{
background-color: blanchedalmond;
background-color: beige;
}
food{
    background-color: rgb(248, 12, 59);
    background-color: rgb(243, 244, 245);
    background-color: black;
}